<div class="row mt-5">
  <div class="col" *ngIf="data.data">
    <div class="card bg-default shadow">
      <div class="card-header bg-transparent border-0">
        <h3 class="text-white mb-0">{{ data.data.header }}</h3>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-dark table-flush">
          <thead class="thead-dark">
            <tr>
              <th scope="col">{{ data.data.header }}</th>
              <th scope="col">Phone Number</th>
              <th scope="col" *ngIf="toggleVerify">Verified</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of dataCp">
              <th scope="row">
                <div class="media align-items-center">
                  <!-- <a class="avatar rounded-circle mr-3">
                    <img [src]="d.image" (click)="navigateToDetailsPage"/>
                  </a> -->
                  <div
                    class="media-body"
                    *ngIf="data.data.header == 'Patients'"
                  >
                    <!-- (click)="navigateToDoctorDetailsPage(d)" -->
                    <span class="mb-0 text-sm"
                      >{{ d.firstName }} {{ d.lastName }}</span
                    >
                  </div>
                  <div
                    class="media-body"
                    *ngIf="data.data.header == 'Hospitals'"
                  >
                    <!-- (click)="navigateToHospitalDetailsPage(d)" -->
                    <span class="mb-0 text-sm">{{ d.name }}</span>
                  </div>
                </div>
              </th>
              <td>
                {{ d.phoneNumber ? d.phoneNumber : d.contactNumber }}
              </td>
              <td *ngIf="toggleVerify">
                <mat-slide-toggle
                  (change)="toggleVerify($event, d.id ? d.id : d._id)"
                  [checked]="d.verified"
                  [disabled]="d.verified"
                ></mat-slide-toggle>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- <mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = paginate($event)"
  aria-label="Select page"
>
</mat-paginator> -->

<!-- <div *ngIf="pageEvent">
  <h5>Page Change Event Properties</h5>
  <div>List length: {{ pageEvent.length }}</div>
  <div>Page size: {{ pageEvent.pageSize }}</div>
  <div>Page index: {{ pageEvent.pageIndex }}</div>
</div> -->
