table{
    width: 100%;
}
.fill
{
margin-top: 10px;
padding-left: 10px;
display:flex;
}
.form-group{
    background-color:#cccccc;
    margin: 10px;
    padding:5px;
    font-size: 15px;
    border-style: groove;

}
